*{
    margin: 0;
    padding: 0;
   }
body{
    background-color:orangered;
}
nav{
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:rgb(14, 5, 90) ;
    box-shadow:1px 2px orangered;
 }
.logo{
     margin-right: auto;
     font-size: 35px;
     color: white;
     transition: 0,3s;
}
.logo:hover{
    color: rgb(136, 130, 130);
    text-shadow: 0 0 10px orangered,
                 0 0 10px orangered;


}

nav ul li{
    display: inline;
    font-size: 24px;
    padding: 30px;
 }
  

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(136, 130, 130);
    text-shadow: 0 0 10px orangered,
                 0 0 10px orangered;


}
form{
    width: 250px;
    margin: auto;
    
}
.input{
    width: 300px;
    border-radius: 5px;
    padding: 26px;
    margin: 20px;
    position: relative;
    right: 68px;
    border: none;
    outline: none;
}
.contact{
    font-size: 30px;
     color: white;
     font-family: sans-serif;
     text-align: center;

}
.contact:hover{
    color:  orangered;
    text-shadow: 0 0 15px  rgb(14, 5, 90),
                 0 0 15px  rgb(14, 5, 90);
}
.submit{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 12px;
    position: relative;
    left: 65px;

}
.submit:hover{
    color: orangered;
    background-color:   black;
}

